button {
    display: inline-block;
    width: 22%;
    border: 2px;
    background-color: #8C52FF;
    color: #FFDE59;
    padding: 15px 15px;
    font-size: 24px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
}

.buttonTitles {
	width: 25%;
}



body {
	background-color: #030303;
    }
	
a {
	color: inherit;
	}
 
h1 {
	color: #D7DADC;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

h2 {
	color: #D7DADC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
    text-align: center;
}

h3 {
    color: #6E7071;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;

}

h4 {
    color: #D7DADC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;

}

h5 {
    color: #6E7071;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;

}

div.a {
  text-align: left;
}

div.b {
  text-align: center;
}

div.c {
  text-align: right;
} 

div.d {
  text-align: justify;
} 
